body { background: #632844; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 31px; display: flex; }
.block-session-0 { color: #73d542; font-size: 19px; margin-bottom: 5px; }
.block-product-1 { color: #ed8c7d; font-size: 13px; margin-bottom: 5px; }
.block-search-2 { color: #6ce574; font-size: 19px; margin-bottom: 5px; }
.block-invoice-3 { color: #a0afd3; font-size: 15px; margin-bottom: 5px; }
.block-uploader-4 { color: #659815; font-size: 14px; margin-bottom: 5px; }